<div class="banner" style="background-image: linear-gradient(-225deg, rgba(177,45,34,0.3) 0%, rgba(127,15,04,0.3) 50%), url('<%= image_path "laden" %>');">
  <div class="banner-content">
    <h1>MOLANI</h1>
    <p><%= link_to "Hier geht es zur Kollektion", items_path, class:"banner-link"%></p>
  </div>
</div>


