<div class="banner" style="background-image: linear-gradient(-225deg, rgba(177,45,34,0.6) 0%, rgba(177,45,34,0.6) 50%), url('<%= image_path "laden" %>');">
  <div class="banner-content">
    <h1>Molani</h1>
    <p><%= link_to "Hier geht es zur Kollektion", items_path%></p>
  </div>
</div>


