<div class="shopping-cart">
  <div class="container">
    <h1>Your shopping Cart</h1>

    <% if @cart_items.length > 0  %>
      <ul>
        <% @cart_items.each do |item| %>
          <li> <%= "#{item.item.name} for #{item.item.price}€, #{item.item.category} "  %>
               <%= link_to '', cart_item_path(:cart_item_id => item.id), method: :delete, class: "fas fa-minus-circle remove-from-cart" %>
          </li>
        <% end  %>
      </ul>
      <h3>Total price: <%= @total_price %>€</h3>
      <div class="btn btn-primary btn-show">Buy</div>
    <% else  %>
      <h4>There are currently no items in your shopping cart</h4>
    <% end  %>
  </div>
</div>
