<div class="container">
  <div class="grid-show">
    <div class="card-show">
      <div class="card">
        <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path @item.name %>');">
        </div>
        <div class="card-description">
          <%= @item.name  %>
        </div>
      </div>
    </div>
    <div class="info-show">
      <p>Elegante <%= "#{@item.category}" %> aus feinster Italienischer Seide</p>
      <p><%= "#{@item.price}.00€" %></p>
    </div>
    <div class="btn btn-primary btn-show">Add to cart</div>
  </div>
</div>


