.banner {
  color: white;
  text-align: center;
  height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-categories {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.banner h1 {
  font-size: 150px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.banner-link {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $red;
  }
}

@media(max-width: 720px) {
  .banner {
  color: white;
  text-align: center;
  height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .banner h1 {
    font-size: 80px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  .banner p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
}
